h4 {
    font-weight: normal;
    text-transform: uppercase;
    color: gray;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    font-size: 16px;
}
h5 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 15px;
}
.page-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-name,
.facebook-id {
    line-height: 28px;
}
.table .btn {
    width: 70px;
}
.table img {
    height: 30px;
    width: 30px;
}
#profile .key {
    color: #aaa;
    font-size: 11px;
    text-transform: title;
}
#profile .value {
    color: black;
    overflow: hidden;
    font-size: 12px;
}
#profile .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
}
.panel-heading {
    font-weight: bold;
    background-color: #f1f1f1;
}
.panel {
    border-color: #ccc;
}

